body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
}
.container {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 5px rgb(57, 49, 38) solid;
}
.row {
  height: 100px;
  flex-grow: 1;
  display: flex;
}
.subDiv {
  display: flex;
  flex-grow: 1;
  border: 0.3px rgb(198, 156, 156) solid;
}
