body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
}
.container {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 5px rgb(57, 49, 38) solid;
}
.row {
  flex-grow: 1;
  display: flex;
}
.subDiv {
  display: flex;
  flex-grow: 1;
  border: 0.3px rgb(55, 53, 52) solid;
}
#gridLabel {
  margin: 0 16px;
}

#gridValue {
  margin: 0 16px;
}

.gridlevel {
  display: flex;
  flex-direction: column;
}
